<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Contato</th>
      <th>Cidade</th>
      <th>Bairro</th>
      <th>Logradouro</th>
      <th>Complemento</th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.contato %></td>
        <td><%= cliente.endereco.cidade %></td>
        <td><%= cliente.endereco.bairro %></td>
        <td><%= cliente.endereco.logradouro %></td>
        <td><%= cliente.endereco.complemento %></td>
        <td><%= link_to 'Visualizar', cliente, id:"s-#{cliente.nome}" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), id:"e-#{cliente.nome}" %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, id:"d-#{cliente.nome}", class:"delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_cliente_path, id:"novo_cliente" %>
