<p id="notice"><%= notice %></p>

<h1>Bem vindo!</h1>

<%= form_for :session,url:entrar_path,method: :post do |form|%>

<%= form.label :CPF, 'CPF'%>
<%= form.text_field :cpf, placeholder: 'CPF'%>

<%= form.label :Senha%>
<%= form.password_field :password, placeholder: 'Senha'%>

<br><br>
<%= form.submit 'Entrar', id:"submit"%>
<%end%>
<br><br>
<h3><%= link_to 'Criar Usuário', new_usuario_path %></h3>
