<h1>Sistema de Gerenciamento de Serviços MEI</h1>

<%= form_for :session,url:entrar_path,method: :post do |form|%>
    <% flash.each do |message_type, message| %>
        <%= content_tag 'div', role: 'alert' do %>
        <% if flash[:danger]%>
            <p style="color:red"><%= message %></p>
        <% else %>
            <p style="color:green"><%= message %></p>
        <% end %>
       <% end %>
     <% end %>

    <%= form.label :cpf, 'CPF'%>
    <%= form.text_field :cpf, placeholder: 'CPF'%>

    <%= form.label :password%>
    <%= form.password_field :password, placeholder: 'Senha'%>

    <br><br>
    <%= form.submit 'Entrar', id:"submit"%>

<%end%>

<br><br>
<h3><%= link_to 'Criar Usuário', new_usuario_path, id:"criar_usuario" %></h3>
