<%= form_with(model: servico) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
        <% servico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipoDoServico %>
    <%= form.text_field :tipoDoServico %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :valorDoServico %>
    <%= form.text_field :valorDoServico %>
  </div>

  <div class="field">
    <%= form.label :statusDePagamento %>
    <%= form.check_box :statusDePagamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
