<%= form_with(model: servico) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "erros") %> foram encontrados:</h2>

      <ul>
        <% servico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, 'Cliente' %>
    <%= collection_select(:servico, :cliente_id, Cliente.where(usuario_id: current_usuario.id), :id, :nome, {:prompt => 'Selecione'}) %>
    <%= link_to 'Cadastrar novo cliente', new_cliente_path %>
  </div>

  <div class="field">
    <%= form.label :tipoDoServico, 'Tipo de Serviço Prestado' %>
    <%= form.text_field :tipoDoServico %>
  </div>

  <div class="field">
    <%= form.label :descricao, 'Descrição do Serviço' %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :ajudante, 'Ajudante' %>
    <%= form.collection_select(:ajudante_id, Ajudante.where(usuario_id: current_usuario.id), :id, :nome, {:prompt => 'Não possui'}) %>
    <%= link_to 'Cadastrar novo ajudante', new_ajudante_path %>
  </div>

  <div class="field">
    <%= form.label :material, 'Material' %>
    <%= form.collection_select(:material_id, Material.where(usuario_id: current_usuario.id), :id, :nome, {:prompt => 'Não possui'}) %>
    <%= link_to 'Cadastrar novo material', new_material_path %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select(:data, :start_year => 2021, :end_year => 2023) %>
  </div>

  <div class="field">
    <%= form.label :valorDoServico, 'Valor do Serviço' %>
    <%= form.text_field :valorDoServico, placeholder: 'Somente números'%>
  </div>

  <div class="field">
    <%= form.label :statusDePagamento, 'Status de Pagamento' %>
    <%= form.check_box :statusDePagamento %>Pago
  </div>

  <div class="actions">
    <%= form.submit id:'submit' %>
  </div>
<% end %>
