<p id="notice"><%= notice %></p>

<h1>Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Descricao</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.cliente.nome %></td>
        <td><%= servico.tipoDoServico %></td>
        <td><%= servico.descricao %></td>
        <td><%= servico.data %></td>
        <td><%= servico.valorDoServico %></td>
        <% if servico.statusDePagamento == true %>
          <td style="color:green"><%= "Pago" %></td>
        <% else %>
          <td style="color:red"><%= "Não Pago" %></td>
        <% end %>
        <td><%= link_to 'Visualizar', servico, id:"s-#{servico.cliente.nome + servico.tipoDoServico}" %></td>
        <td><%= link_to 'Editar', edit_servico_path(servico), id:"e-#{servico.cliente.nome + servico.tipoDoServico}" %></td>
        <td><%= link_to 'Apagar', servico, method: :delete, id:"d-#{servico.cliente.nome + servico.tipoDoServico}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Serviço', new_servico_path, id:"novo_servico"%>
<%= link_to 'Logout', sair_path, method: :delete%>
