<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @servico.cliente.nome %>
</p>

<p>
  <strong>Tipodoservico:</strong>
  <%= @servico.tipoDoServico %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @servico.descricao %>
</p>

<p>
  <strong>Ajudante:</strong>
  <% if @servico.ajudante != nil %>
    <td><%= @servico.ajudante.nome %></td>
    <% else %>
    <td><%= 'não possue' %></td>
  <% end %>
<p>

<p>
  <strong>Material:</strong>
  <% if @servico.material != nil %>
    <td><%= @servico.material.nome %></td>
    <% else %>
    <td><%= 'não possue' %></td>
  <% end %>
<p>

<p>
  <strong>Data:</strong>
  <%= @servico.data %>
</p>

<p>
  <strong>Valordoservico:</strong>
  <%= @servico.valorDoServico %>
</p>

<p>
  <strong>Statusdepagamento:</strong>
  <%= @servico.statusDePagamento %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
