<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "erros") %> foram encontrados:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, "Nome Completo" %>
    <%= form.text_field :nome, placeholder:"Nome Completo"%>
  </div>

  <div class="field">
    <%= form.label :cpf, "CPF" %>
    <%= form.text_field :cpf, placeholder:"Apenas números" %>
  </div>

  <div class="field">
    <%= form.label :funcao, "Função/Cargo" %>
    <%= form.text_field :funcao, placeholder:"Ex:Gesseiro" %>
  </div>

  <div class="field">
    <%= form.label :password, "Senha" %>
    <%= form.password_field :password, placeholder:"Mínimo 8 caracteres" %>
  </div>

  <div class="actions">
    <%= form.submit id:"submit"%>
  </div>
<% end %>
