<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @usuario.funcao %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.password %>
</p>

<%= link_to 'Back', servicos_path %> |
<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<td><%= link_to 'Destroy', @usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
