<p id="notice"><%= notice %></p>

<h1>Meus dados</h1><br>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Função/Cargo:</strong>
  <%= @usuario.funcao %>
</p>

<br><br>

<%= link_to 'Voltar', servicos_path %> |
<%= link_to 'Editar', edit_usuario_path(@usuario), id:"e-#{@usuario.nome}"%> |
<%= link_to 'Apagar Conta', @usuario, method: :delete, id:"d-#{@usuario.nome}" %>