<p id="notice"><%= notice %></p>


<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Função/Cargo:</strong>
  <%= @usuario.funcao %>
</p>

<br><br>

<%= link_to 'Editar', edit_usuario_path(@usuario), id:"e-#{@usuario.nome}"%> |
<%= link_to 'Voltar', usuarios_path %>
