<%= form_with(model: ajudante) do |form| %>
  <% if ajudante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ajudante.errors.count, "error") %> prohibited this ajudante from being saved:</h2>

      <ul>
        <% ajudante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, "Nome do Ajundante" %>
    <%= form.text_field :nome, placeholder:"Nome Completo"%>
  </div>

  <div class="field">
    <%= form.label :cpf, "CPF" %>
    <%= form.text_field :cpf, placeholder:"Apenas números" %>
  </div>

  <div class="field">
    <%= form.label :contato, "Contato" %>
    <%= form.text_field :contato %>
  </div>

  <div class="field">
    <%= form.label :precoMaoDeObra, "Preço da mão de obra" %>
    <%= form.text_field :precoMaoDeObra %>
  </div>

  <div class="actions">
    <%= form.submit id:"submit" %>
  </div>
<% end %>
