<p id="notice"><%= notice %></p>

<h1>Ajudantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Contato</th>
      <th>Precomaodeobra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ajudantes.each do |ajudante| %>
      <tr>
        <td><%= ajudante.nome %></td>
        <td><%= ajudante.cpf %></td>
        <td><%= ajudante.contato %></td>
        <td><%= ajudante.precoMaoDeObra %></td>
        <td><%= link_to 'Show', ajudante %></td>
        <td><%= link_to 'Edit', edit_ajudante_path(ajudante) %></td>
        <td><%= link_to 'Destroy', ajudante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ajudante', new_ajudante_path %>
