<p id="notice"><%= notice %></p>

<h1>Ajudantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Contato</th>
      <th>Preço da mão de obra</th>
    </tr>
  </thead>

  <tbody>
    <% @ajudantes.each do |ajudante| %>
      <tr>
        <td><%= ajudante.nome %></td>
        <td><%= ajudante.cpf %></td>
        <td><%= ajudante.contato %></td>
        <td><%= ajudante.precoMaoDeObra %></td>
        <td><%= link_to 'Visualizar', ajudante, id:"s-#{ajudante.nome}" %></td>
        <td><%= link_to 'Editar', edit_ajudante_path(ajudante), id:"e-#{ajudante.nome}" %></td>
        <td><%= link_to 'Apagar', ajudante, method: :delete, id:"d-#{ajudante.nome}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to 'Novo Ajudante', new_ajudante_path, id:"novo_ajudante" %>
