<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ajudante.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @ajudante.cpf %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @ajudante.contato %>
</p>

<p>
  <strong>Precomaodeobra:</strong>
  <%= @ajudante.precoMaoDeObra %>
</p>

<br><br>

<%= link_to 'Editar', edit_ajudante_path(@ajudante) %> |
<%= link_to 'Voltar', ajudantes_path %>
