<p id="notice"><%= notice %></p>

<h1>Materiais</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Material</th>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.nome %></td>
        <td><%= material.descricao %></td>
        <td><%= material.valor %></td>
        <td><%= link_to 'Visualizar', material, id:"s-#{material.nome}" %></td>
        <td><%= link_to 'Editar', edit_material_path(material), id:"e-#{material.nome}" %></td>
        <td><%= link_to 'Apagar', material, method: :delete, id:"d-#{material.nome}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Material', new_material_path, id:"novo_material" %>
