<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciamento Serviços</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if usuario_signed_in? %>
        <ul class="ul1">
          <li><a href="/servicos">Servicos</a></li>
          <li><a href="/clientes" id="clientes">Clientes</a></li>
          <li><a href="/materials" id="materials">Materiais</a></li>
          <li><a href="/ajudantes" id="ajudantes">Ajudantes</a></li>
          <li><%= link_to 'Minha conta', @current_usuario ,id: 'minha_conta'%></li>      

        </ul>

        <ul class="ul2">
          <li><%= link_to 'Sair', sair_path, method: :delete%></li>
        </ul>

      <% else %>
        <a href="/">Login</a>
      <% end %>

    </nav>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
