<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciamento Serviços</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Login</a>
      <a href="/materials">Materiais</a>
      <a href="/clientes">Clientes</a>
      <a href="/servicos">Servicos</a>
    </nav>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
